set timeout=15
set default=0 # Helios is default

# https://support.hpe.com/hpesc/public/docDisplay?docId=a00105236en_us&page=GUID-BA63AAEB-4274-4A99-8C1D-39B6BF87BD16.html&docLocale=en_US
serial --unit=0 --speed=115200
terminal --timeout=5 serial console

menuentry "Helios" {
    multiboot /boot/helios.elf
    boot
}
