# Helios - Environment Variables

## DO NOT TOUCH
__ENV_FULL_PATH="$(readlink -f "${BASH_SOURCE[0]}")"

## General Variables
PROJECT=helios
ARCH="$(uname -m)"
PROJECT_DIR="$(dirname -- "${__ENV_FULL_PATH}")"

## Build Variables
GRUB_TARGET=${ARCH}-efi
RUST_TARGET=${ARCH}-${PROJECT}
RUST_TARGET_JSON=${PROJECT_DIR}/template/${ARCH}-${PROJECT}.json
BUILD_DIR=${PROJECT_DIR}/build
ISO_BUILD_DIR=${BUILD_DIR}/iso

## Compilation Variables
LOW_LEVEL_CRATES="core"
HIGH_LEVEL_CRATES="control daemon sci http"
LOW_LEVEL_TARGET=${RUST_TARGET_JSON}
HIGH_LEVEL_TARGET=${ARCH}-unknown-linux-gnu

# Optional extra cargo flags by build level.
LOW_LEVEL_CARGO_FLAGS="-Z build-std=core"
HIGH_LEVEL_CARGO_FLAGS=""

## Run Variables
QEMU_MEM=128M
QEMU_EXECUTABLE=qemu-system-${ARCH}
GDB_EXECUTABLE=gdb
RUST_GDB_EXECUTABLE=rust-gdb
QEMU_GDB_PORT=1234
