[submodule "crates/helictl"]
	path = crates/helictl
	url = git@github.com:mhambre/helictl.git
[submodule "crates/helid"]
	path = crates/helid
	url = git@github.com:mhambre/helid.git
[submodule "crates/helios-sci"]
	path = crates/helios-sci
	url = git@github.com:mhambre/helios-sci.git
[submodule "crates/helios-core"]
	path = crates/helios-core
	url = git@github.com:mhambre/helios-core.git
[submodule "crates/helios-http"]
	path = crates/helios-http
	url = git@github.com:mhambre/helios-http.git
