# Helios - Environment Variables

## DO NOT TOUCH
__ENV_FULL_PATH="$(readlink -f "$0")"

## General Variables
PROJECT=helios
ARCH=x86_64
PROJECT_DIR="$(dirname "$__ENV_FULL_PATH")"

## Build Variables
GRUB_TARGET=${ARCH}-efi
BUILD_DIR=${PROJECT_DIR}/build
ISO_BUILD_DIR=${BUILD_DIR}/iso

## Run Variables
QEMU_MEM=128M
QEMU_EXECUTABLE=qemu-system-${ARCH}
